{
  "extends": [
    "oclif",
    "oclif-typescript"
  ],
  "rules": {
    "unicorn/prefer-node-protocol": "off",
    "node/no-missing-import": "off",
    "@typescript-eslint/no-empty-function": "off",
    "unicorn/prefer-module": "off",
    "unicorn/prefer-regexp-test": "off",
    "default-param-last": "off",
    "unicorn/prefer-array-some": "off",
    "unicorn/consistent-function-scoping": "off",
    "unicorn/import-style": "off"
  }
}
